@page "/calcular/registro"
@using MySql.Data.MySqlClient
@using SistemaDeListadoMateriasBD.Controller
@using SistemaDeListadoMateriasBD.Models
@inject NavigationManager navigation
@rendermode InteractiveServer

<h1>Crear un nuevo usuario</h1>
<p>@mensaje</p>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" @bind="nombre" required>
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Apellido</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" @bind="apellido" required>
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Cedula</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" @bind="cedula" required>
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Carrera</label>
    <InputSelect @bind-Value="carrera" required>
            <option value="">
                Selection
            </option>
            <option value="Ing Informatica">
                Ingenieria Informatica
            </option>
            <option value="Ing Electronica">
                Ingenieria Electronica
            </option>
        </InputSelect>
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Usuario</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" @bind="usuario" required>
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Contraseña</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" @bind="contrasenia" required>
    </div>
<div class="col">
    <button type="submit" class="btn btn-primary" @onclick="EnviarDatos">Enviar</button>
</div>

@code{
    private string? carrera;
    private string? nombre;
    private string? apellido;
    private string? cedula;
    private string? usuario;
    private string? contrasenia;
    private Conexion connection = new Conexion();
    private string? mensaje = "";

    private async Task EnviarDatos()
    {
        try
        {
            connection.miConexion.Open();
            string consulta = $"insert into obtener_indice_academico.user(nombre,apellido,cedula,carrera,contrasenia,usuario) value ('{nombre}','{apellido}','{cedula}','{carrera}','{contrasenia}','{usuario}');";
            MySqlCommand comando = new MySqlCommand(consulta, connection.miConexion);
            await comando.ExecuteNonQueryAsync();
            navigation.NavigateTo("/calcular");
        }
        catch (MySqlException e)
        {
            mensaje = e.Message;
        }
        finally
        {
            connection.miConexion.Close();
        }
    }
}