@page "/calcular/registro"
@using MySql.Data.MySqlClient
@using SistemaDeListadoMateriasBD.Controller
@using SistemaDeListadoMateriasBD.Models
@inject NavigationManager navigation
@rendermode InteractiveServer

<h1>Crear un nuevo usuario</h1>
<p>@mensaje</p>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" @bind="persona.nombre" required>
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Apellido</label>
        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" @bind="persona.apellido" required>
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Cedula</label>
        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" @bind="persona.cedula" required>
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Carrera</label>
        <InputSelect @bind-Value="persona.carrera" required>
            <option value="">
                Selection
            </option>
            <option value="Ing Informatica">
                Ingenieria Informatica
            </option>
            <option value="Ing Electronica">
                Ingenieria Electronica
            </option>
        </InputSelect>
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Usuario</label>
        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" @bind="persona.usuario" required>
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Contraseña</label>
        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" @bind="persona.contrasenia" required>
    </div>
    <div class="col">
        <button type="submit" class="btn btn-primary" @onclick="EnviarDatos">Enviar</button>
    </div>

@code{
    private Persona persona = new();
    private Conexion connection = new Conexion();
    private string? mensaje = "";

    private void EnviarDatos()
    {
        try
        {
            connection.InsertarDatos(persona); 
            connection.CrearTabla(persona);
            navigation.NavigateTo("/calcular");
        }
        catch (MySqlException e)
        {
            mensaje = e.Message;
        }
        finally
        {
            connection.CerrarConexion();
        }
    }
}